<%-include("header")-%>

<h1>Hello there! Welcome to my Blog</h1>
<p><%= homeContent %></p>

<div class="container ">
    <div class="row">
        <%allPosts.forEach(post => {%>
            <div class="col col-md-4 col-sm-6">
                <div class="float-end">
                    <a href="<%='/delete/' + post._id.toString()%>"><span class="material-symbols-outlined">delete</span></a>
                </div>
                <h2><%= post.title.substring(0,50) %><%if(post.title.length>50){%>
                   <%="..."%> 
                <%}%></h2>
                <p ><%= post.content.substring(0,200)%> ... </p>
                <a href=<%="/posts/" + post._id.toString()%>>Read More</a>
            </div>
        <%})%>
    </div>
</div>

<a href="/compose">
    <div class="floating-container">
        <div class="floating-button">+</div>
    </div>
</a>



<%-include("footer")-%>